<div class="main-container">
    <div class="cards">
        @if (department) {
        <h2>{{ department.name }}</h2>
        }
        <mat-card>
            <div class="add-employee-row">
                <mat-form-field>
                    <input [formControl]="employeeNameFC" matInput placeholder="Employee Name" type="text">

                    @if (employeeNameFC.hasError('duplicate')) {
                    <mat-error>Duplicate Name</mat-error>
                    }
                </mat-form-field>

                <button (click)="addEmployee()" [disabled]="employeeNameFC.invalid" color="primary" mat-mini-fab>
                    <mat-icon>add</mat-icon>
                </button>
            </div>

            @if(employees && employees.length > 0) {
            <div>{{ employees | json }}</div>
            }
        </mat-card>
        <mat-card class="hours">
            <table>
                <thead>
                    <th>Name</th>
                    @for (day of weekdays; track day) { <th>{{day}}</th>
                    }
                    <th>Total Hours</th>
                    <th></th>
                </thead>
            </table>
        </mat-card>
        @if(employees && employees.length > 0) {
        <mat-card class="hours">
            <table>
                <thead>
                    <th>Name</th>
                    @for (day of weekdays; track day) { <th>{{day}}</th>
                    }
                    <th>Total Hours</th>
                    <th></th>
                </thead>
                <tbody>
                    @for (employee of employees; track employee.id; let i = $index) {
                    <tr [class.odd-row]="i % 2 !== 0">
                        <td>{{employee.name}}</td>
                        @for (day of weekdays; track day) {
                        <td>
                            <input type="number" [id]="day" [(ngModel)]="employee[day]" class="hours-input" min="0" max="24">
                        </td>
                        }
                        <td class="total-cell">{{getTotalHours(employee)}}</td>
                        @for (employee of employees; track employee.id; let i = $index) {
                        <tr [class.odd-row]="i % 2 !== 0">
                            <td class="total-cell">{{getTotalHours(employee)}}</td>
                        
                            <td>
                                <button mat-icon-button (click)="deleteEmployee(i)">
                                    <mat-icon>delete</mat-icon>
                                </button>
                            </td>
                        </tr>
                        }
                    </tr>
                    }
                </tbody>
            </table>
        </mat-card>
        }
    </div>
</div>