<div>
      @if (employees$ | async; as employees) {
        <table>
              <thead>
                  <th>Name</th>
                    @for (day of weekdays; track day) {
                      <th>{{day | titlecase}}</th>
                    }
                  <th>Total Hours</th>
                  <th>Pay Rate</th>
                  <th>Total Pay</th>
                  </thead>

              <tbody>
                    @for (employee of employees; track employee.id; let i = $index) {
                      <tr>
                            <td>{{employee.name}}</td>
                            @for (day of weekdays; track day) {
                              <td>{{employee[day] | number:'1.2-2'}}</td>
                            }
                            <td class="total-cell">{{getTotalHours(employee) | number:'1.2-2'}}</td>
                            <td>{{employee.payRate | currency}}/hr</td>
                            <td>{{employee.payRate * getTotalHours(employee) | currency}}</td>
                          </tr>
                    }
                  </tbody>
            </table>
      }
</div>